body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

button,
input,
select,
textarea,
a {
  outline: none !important;
  -webkit-tap-highlight-color: transparent; }

.btn .fa {
  margin-right: .5em; }

.app {
  width: 100%;
  height: 100%;
  opacity: 0; }
  .visible .app {
    opacity: 1; }
  .app .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    overflow-y: auto;
    border-right: 1px solid #777777;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    background-image: -webkit-linear-gradient(left, white, #eeeeee);
    background-image: linear-gradient(to right,white, #eeeeee); }
    .app .sidebar .document-list .list-group-item {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .app .sidebar .document-list .active {
      color: #fff;
      background: #428bca; }
    .app .sidebar .document-list .new-doc {
      font-weight: bold;
      font-style: italic; }
  .app .main {
    position: absolute;
    top: 0;
    left: 250px;
    right: 0;
    bottom: 0;
    height: 100%; }
    .app .main .toolbar {
      height: 50px;
      line-height: 47px;
      min-height: 50px;
      border-bottom: 1px solid #777777;
      padding-left: 8px;
      width: 100%;
      background-color: white;
      background-image: -webkit-linear-gradient(white, #e5e5e5);
      background-image: linear-gradient(white, #e5e5e5); }
    .app .main #run-code .fa {
      width: 13px; }
    .app .main #run-code .fa-repeat, .app .main #run-code.running .fa-play {
      display: none; }
    .app .main #run-code.running .fa-repeat {
      display: inline-block; }
    .app .main .editor {
      background: #fff;
      width: 100%;
      position: absolute;
      top: 50px;
      bottom: 0;
      overflow: hidden; }
      .app .main .editor .CodeMirror {
        height: 100%; }
    .app .main .output {
      background: #ddd;
      height: 300px;
      width: 100%;
      position: absolute;
      bottom: 0;
      min-height: 100px !important; }
      .app .main .output .separator {
        height: 24px;
        border: 1px solid #777777;
        border-style: solid none;
        cursor: resize;
        cursor: ns-resize;
        background-color: #fefefe;
        background-image: -webkit-linear-gradient(#fefefe 0%, #f1f1f1 50%, #e1e1e1 50%, #e0e0e0 100%);
        background-image: linear-gradient(#fefefe 0%, #f1f1f1 50%, #e1e1e1 50%, #e0e0e0 100%); }
      .app .main .output .scroller {
        overflow: auto;
        position: absolute;
        top: 24px;
        bottom: 30px;
        left: 0;
        right: 0; }
        .app .main .output .scroller pre {
          margin: 6px;
          padding: 0;
          border: none;
          box-shadow: none;
          background: transparent;
          text-shadow: 0 1px #fff;
          border-radius: 0; }
          .app .main .output .scroller pre.compiler-output {
            border-bottom: 1px solid #777;
            padding-bottom: 8px;
            box-shadow: 0 1px #fff; }
          .app .main .output .scroller pre.compiler-output-lst {
            padding-top: 40px;
            padding-bottom: 20px;
            white-space: pre;
            overflow-x: scroll;
            line-height: 18px; }
      .app .main .output .macro-stepper {
        display: none;
        position: absolute;
        z-index: 100;
        left: 0;
        right: 0;
        top: 24px;
        height: 41px;
        line-height: 40px;
        background-color: #eaeaea;
        background-image: -webkit-linear-gradient(#eaeaea, white);
        background-image: linear-gradient(#eaeaea, white);
        border-bottom: 1px solid #777777; }
        .app .main .output .macro-stepper button {
          text-align: center;
          padding: 0;
          width: 30px;
          height: 30px;
          margin: 5px 0;
          display: block;
          float: left; }
          .app .main .output .macro-stepper button:first-child {
            margin-left: 5px; }
          .app .main .output .macro-stepper button .fa {
            margin: 0; }
        .app .main .output .macro-stepper .current-step {
          display: block;
          float: left;
          width: 60px;
          height: 41px;
          text-align: center;
          font-weight: bold;
          text-shadow: 0 -1px white; }
      .app .main .output .prompt {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 29px;
        font: 10pt monospace;
        line-height: 29px;
        border-top: 1px solid #777777;
        text-indent: 6px;
        background: #eee; }
        .app .main .output .prompt span {
          display: block;
          height: 29px;
          width: 14px;
          background: #eee;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2; }
        .app .main .output .prompt input:focus + span {
          background: #fff; }
        .app .main .output .prompt input {
          position: absolute;
          background: transparent;
          left: 0;
          top: 0px;
          width: 100%;
          display: block;
          padding: 0;
          padding-left: 18px;
          margin: 0;
          height: 29px;
          border: none;
          outline: none;
          box-shadow: none;
          font: 10pt monospace;
          -webkit-appearance: none;
          appearance: none;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
          .app .main .output .prompt input:focus {
            background: #fff; }

.cm-s-default.cm-s-pawn .cm-comment {
  color: #272; }
.cm-s-default.cm-s-pawn .cm-meta {
  color: #900; }
.cm-s-default.cm-s-pawn .cm-keyword {
  color: #00c;
  font-weight: bold; }
.cm-s-default.cm-s-pawn .cm-number {
  color: #c00; }
.cm-s-default.cm-s-pawn .cm-string {
  color: #555; }
.cm-s-default.cm-s-pawn .CodeMirror-matchingbracket {
  color: #f00;
  font-weight: bold; }
.cm-s-default.cm-s-pawn .CodeMirror-foldgutter-open,
.cm-s-default.cm-s-pawn .CodeMirror-foldgutter-folded {
  color: #777; }
  .cm-s-default.cm-s-pawn .CodeMirror-foldgutter-open:hover,
  .cm-s-default.cm-s-pawn .CodeMirror-foldgutter-folded:hover {
    color: #000; }
.cm-s-default.cm-s-pawn .CodeMirror-foldmarker {
  text-shadow: none; }
.cm-s-default.cm-s-pawn .cm-matchhighlight {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
  background-position: bottom;
  background-repeat: repeat-x; }
.cm-s-default.cm-s-pawn .line {
  display: block; }
.cm-s-default.cm-s-pawn .repl-line {
  vertical-align: bottom;
  display: block; }
  .cm-s-default.cm-s-pawn .repl-line.ahead, .cm-s-default.cm-s-pawn .repl-line.behind {
    display: none; }
  .cm-s-default.cm-s-pawn .repl-line.ahead.first {
    display: inline; }
    .cm-s-default.cm-s-pawn .repl-line.ahead.first .new {
      display: none; }
  .cm-s-default.cm-s-pawn .repl-line.behind.last {
    display: inline; }
    .cm-s-default.cm-s-pawn .repl-line.behind.last .old {
      display: none; }
  .cm-s-default.cm-s-pawn .repl-line.active.dir-left .repl {
    -webkit-transform: translateY(-18px);
    -moz-transform: translateY(-18px);
    -ms-transform: translateY(-18px);
    -o-transform: translateY(-18px);
    transform: translateY(-18px);
    -webkit-animation: repl-silde-up 0.7s ease;
    -moz-animation: repl-silde-up 0.7s ease;
    animation: repl-silde-up 0.7s ease; }
  .cm-s-default.cm-s-pawn .repl-line.active.dir-right .repl {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: repl-silde-down 0.7s ease;
    -moz-animation: repl-silde-down 0.7s ease;
    animation: repl-silde-down 0.7s ease; }
  .cm-s-default.cm-s-pawn .repl-line.active .repl {
    display: inline-block;
    height: 18px;
    vertical-align: bottom;
    position: relative;
    z-index: 1;
    border-radius: 3px; }
    .cm-s-default.cm-s-pawn .repl-line.active .repl .old {
      background: #faa;
      display: block;
      border-radius: 3px 3px 0 0;
      box-shadow: 0 0 1px rgba(255, 255, 255, 0.8); }
    .cm-s-default.cm-s-pawn .repl-line.active .repl .new {
      background: #aaffaa;
      display: block;
      border-radius: 0 0 3px 3px;
      box-shadow: 0 0 1px rgba(255, 255, 255, 0.8); }

@-webkit-keyframes repl-silde-up {
  0%, 30% {
    -webkit-transform: translateY(0); } }
@-moz-keyframes repl-silde-up {
  0%, 30% {
    -moz-transform: translateY(0); } }
@keyframes repl-silde-up {
  0%, 30% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes repl-silde-down {
  0%, 30% {
    -webkit-transform: translateY(-18px); } }
@-moz-keyframes repl-silde-down {
  0%, 30% {
    -moz-transform: translateY(-18px); } }
@keyframes repl-silde-down {
  0%, 30% {
    -webkit-transform: translateY(-18px);
    -moz-transform: translateY(-18px);
    -ms-transform: translateY(-18px);
    -o-transform: translateY(-18px);
    transform: translateY(-18px); } }
